<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate" />
    <meta content="portfolio site" name="Ronil Rodrigues">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/logo.png">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>Ronil Rodrigues -cloud enthusiast</title>

    <link href="{{url_for( 'static', filename='design.css' )}}" rel="stylesheet">
</head>

<body class="minimal" style="background-image: url('static/assets/images/space.jpg')">
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>
    <!-- Add your content of header -->
    <header>
        <nav class="navbar  navbar-fixed-top navbar-inverse">
            <div class="container">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav ">
                        <li><a href="/" title="">01 : Home</a></li>
                        <li><a href="./work" title="">02 : Work Ex</a></li>
                        <li><a href="./about" title="">03 : About me</a></li>
                        <li><a href="./contact" title="">04 : Contact</a></li>

                    </ul>


                </div>

                <a href="https://www.linkedin.com/in/ronil-rodrigues-540214190/">
                    <img src="../static/assets/images/googleicon.png" u target="_blank" width="120px" height="100px" style="margin-left: auto; margin-right: auto;">
                    <img src="../static/assets/images/aws.png" u target="_blank" width="120px" height="100px" style="margin-left: auto; margin-right: auto;">
                    <img src="../static/assets/images/ujet.jpeg" u target="_blank" width="120px" height="100px" style="margin-left: auto; margin-right: auto;">
                    <img src="../static/assets/images/1.png" u target="_blank" width="120px" height="100px" style="margin-left: auto; margin-right: auto;">
                    <img src="../static/assets/images/2.png" u target="_blank" width="120px" height="100px" style="margin-left: auto; margin-right: auto;">
                    <img src="../static/assets/images/3.png" u target="_blank" width="120px" height="100px" style="margin-left: auto; margin-right: auto;">
                    <img src="../static/assets/images/4.png" u target="_blank" width="120px" height="100px" style="margin-left: auto; margin-right: auto;">
                    <img src="../static/assets/images/5.png" u target="_blank" width="120px" height="100px" style="margin-left: auto; margin-right: auto;">
                    <img src="../static/assets/images/6.png" u target="_blank" width="120px" height="100px" style="margin-left: auto; margin-right: auto;">   
                    <img src="../static/assets/images/12.png" u target="_blank" width="120px" height="100px" style="margin-left: auto; margin-right: auto;">             
                    <img src="../static/assets/images/7.png" u target="_blank" width="120px" height="100px" style="margin-left: auto; margin-right: auto;">
                    <img src="../static/assets/images/8.png" u target="_blank" width="120px" height="100px" style="margin-left: auto; margin-right: auto;">
                    <img src="../static/assets/images/9.png" u target="_blank" width="120px" height="100px" style="margin-left: auto; margin-right: auto;">
                    <img src="../static/assets/images/10.png" u target="_blank" width="120px" height="100px" style="margin-left: auto; margin-right: auto;">
                    <img src="../static/assets/images/11.png" u target="_blank" width="120px" height="100px" style="margin-left: auto; margin-right: auto;">
                    <img src="../static/assets/images/13.png" u target="_blank" width="120px" height="100px" style="margin-left: auto; margin-right: auto;">
                    <img src="../static/assets/images/oci.jpg" u target="_blank" width="200px" height="80px" style="margin-left: auto; margin-right: auto;">
                 
                 
                 
                          </a>

            </div>
        </nav>
    </header>
    
    <!-- Add your site or app content here -->
    <div class="hero-full-container background-image-container white-text-container" >
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="hero-full-wrapper">
                        <div class="text-content">
                            <h1>Step into my realm<br>
                                <span id="typed-strings">
                  <span>where I,</span>
                                <span> Ronil Rodrigues,</span>
                                <span> explore and envision the limitless possibilities of cloud technology!</span>
                                </span>
                                <span id="typed"></span>
                            </h1>
                        </div>
                          
                    </div>
                </div>
            </div>
        </div>
    </div>


  

    


    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            type();
            movingBackgroundImage();
        });
    </script>


    <script src={{url_for( 'static', filename='main.js' )}}></script>
</body>

</html>